<div class="container">
    <h1>Routing</h1>
    <ul class="list-group">
        <li class="list-group-item" [routerLink]="['/databinding', 'Raúl Ramírez']">Databinding</li>
        <li class="list-group-item" [routerLink]="['/directives']">Directives</li>
        <li class="list-group-item" [routerLink]="['/pipes']">Pipes</li>
        <li class="list-group-item" [routerLink]="['/forms']">Reactive forms</li>
        <li class="list-group-item" [routerLink]="['/services']">Services</li>
    </ul>
</div>